body{
    background:#121212;
    color:white;
    font-family:Arial,sans-serif;
    padding:20px;
}

h1{
    text-align:center;
}

.tabs{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.tabs button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

#buscador{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    margin-bottom:20px;
}

.card{
    background:#1e1e1e;
    padding:15px;
    border-radius:12px;
    margin-bottom:15px;
}

.precio{
    color:#00ff88;
    font-weight:bold;
}

.agregarBtn{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

#activosSection{
    display:none;
}

select,
input[type="text"]{
    width:100%;
    padding:10px;
    border:none;
    border-radius:8px;
    margin-top:5px;
}

#guardarVehiculo{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

#calculos{
    font-size:18px;
    font-weight:bold;
}

#vendidosSection{
    display:none;
}

#transferenciasSection{
    display:none;
}
